input::placeholder {
    color: #ddd;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

.search-box {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-85%, -48%);
    height: 40px;
    border-radius: 40px;
    padding: 6px 10px 6px 10px;
    transition: 0.4s;
}

.search-box:hover>.search-txt {
    width: 240px;
}

.search-box:hover {
    border: 1px solid #ddd;
    background-color: #fff;
}

.search-box:hover>.search-btn {
    background-color: white;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(2px, -1px);
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}